# https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages
on:
  push:
    branches:
      - main
name: publish

jobs:
  publish-npm: 
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repoj
        uses: actions/checkout@v3
      - name: Setupt Node.js 16.x 
        uses: actions/setup-node@v3
        with:
          node-version: 16
          registry-url: 'https://registry.npmjs.org'
      - run: yarn
      - run: yarn publish --access public
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
